// Styles for research app

.box {
  // background-color: #3A98FF;
  background-color: #5482AB;
  margin-bottom: .5em;
  padding: .5em;
  position: relative;
}

.box a {
  color: white;
}

.masthead {
  margin-bottom: 1rem;

  small {
    font-size: 90%;
    color: #999;
  }
}
